/* CSS declarations go here */
.hidden_div{
	display:none;
}

.navbar {
	color: white;
	background: #87CEEB;
}

.navbar-default .navbar-brand {
	color: white;
}

.accounts-dialog {
	background: #87CEEB; 
}

#login-buttons a {
	color: white;
	text-decoration: none;
}

.js-upvote {

}

.js-downvote {

}

ol .list-group-item {
		list-style: decimal inside;
    display: list-item;
}

.username {
	color: #128ee9;
}

.detail-description {
	font-size: 20px;
}

.date {
	color: #616161;
	font-style: italic;
}

.date-small {
	color: #616161;
	font-size: 10px;
	font-style: italic;
}
